h1{
    color: #ffffff;
    background: #026b19;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    word-spacing: 1.5em; 
    opacity: 0.80;   
}

h2{
    margin-left: 400px;
    font-size: 45px; 
    color: #000000;
    font: 'Times New Roman';
    letter-spacing: 0.1em;
    word-spacing: 0.2em;    
    opacity: 0.80;

}

body{
    background-color:#EADEA1;
}



#logout{
    color:hsl(210, 100%, 2%);
    margin-left: 1045px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    border: #026b19 5px solid;
    background-color: #026b19;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

#user{
    color:#000408;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    border: #026b19 5px solid;
    background-color: #026b19;
    text-align: center;
  
}

#detalle{
    color:#000408;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    border: #026b19 5px solid;
    background-color: #026b19;
    text-align: center;
    
}

table {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
 }

 #nam, #amount,#combo{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
 }