
body {
    background-color:#EADEA1;
  }
  
h1{
    color: #ffffff;
    background: #026b19;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    word-spacing: 1.5em; 
    opacity: 0.80;   
}

h2{
    margin-left: 400px;
    font-size: 45px; 
    color: #000000;
    font: 'Times New Roman';
    letter-spacing: 0.1em;
    word-spacing: 0.2em;    
    opacity: 0.80;

}




#login{
    color:#000408;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    margin-left: 465px;
    border: #026b19 5px solid;
    background-color: #026b19;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

#container{
    margin-left: 400px;
}

#register{
    color:#026b19;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-left: 450px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}



#username, #password{
    font: 'Arial';
    font-size: 20px;
}