h1{
    color: #ffffff;
    background: #026b19;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    word-spacing: 1.5em; 
    opacity: 0.80;   
}

body{
    background-color:#EADEA1;
}

#full_name, #last_name,#email,#pasword,#telephone,#username,#country{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-left: 400px;
 }

 #save{
    color:#000408;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    margin-left: 440px;
    border: #026b19 5px solid;
    background-color: #026b19;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

 #login{
    color:#026b19;
    margin-left: 440px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

#tree{
    width: 200px;
 
}